
/* * {
    outline: 1px solid red !important;
} */

/* :root {
    --image-size-small: 180px;
    --image-size-standard: 250px;
    --image-size-large: 400px;
    --image-size-user: var(--image-size-standard)




    --mw-file-upright: 0.68;

}

@supports (width: round(1.5px,1px)){
    img.mw-file-upright {
        width: round(var(--mw-file-upright) * var(--mw-file-upright, 1), 10px);
    }
} */


.vcard {
    text-align: center;
}
  
.infobox {
    border: 1px solid #4c4c4c;
    padding: .2em;
    font-size: 88%;
    line-height: 1.5em;
    border-spacing: 3px;
    margin: 0.5em 0;

}

@media (min-width: 640px) {
    .infobox {
        margin-left: 1em;
        float: right;
        clear: right;
        width: 22em;
    }
}
 
img.mw-file-upright {
    width: 68%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    /* width: calc(var(--image-size-user) * var(--mw-file-upright, 1)); */

    vertical-align: middle;
}

.page-quote {
    display: flex;

}

.page-quote .quote-style {
    position: absolute; 
    font-weight: 700; 
    font-size: 3em; 
    line-height: 1em;
}
.page-quote .quote-text-style {
    margin-left: 1rem; 
    position: relative; 
    padding: 0.5em 1em; 
    display: inline-block;
    font-size: 1.5em;
}

.mw-body-content p {
    margin: 0.5em 0 1em 0;
}