
.mw-games-buttons {
    display: flex;
    justify-content: center;
}

.mw-games-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

div.character-nav .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    gap: 10px;

    padding: 0;

    list-style: none;
}

ul.gallery li.gallerybox {
    display: flex;
    flex: 1 1 360px;
    flex-direction: column;
    max-width: 380px;
    box-sizing: border-box;

    border: 1px solid #4c4c4c;
}

ul.gallery li.gallerybox img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

ul.gallery li.gallerybox a {
    color: inherit;
    text-decoration: none;
}

div.gallerytext {
    padding: 9px 9px 15px;
    text-align: center;
}