
.top-heading {
    font-family: skyrim;
    font-weight: 700;
    font-size: large;
    list-style: none;
    padding: 6px 0;
    padding-top: 2.8rem;
}
.top-heading:hover {
    cursor: pointer;
    color: aliceblue;
    text-decoration-line: underline;
}

.vector-sticky-container {
    overflow: hidden auto;
    box-sizing: border-box;
    max-height: 100vh;
    transition: max-height 250ms linear;
}
.vector-container {
    padding: 0 16px;
    margin-bottom: 2rem;

    line-height: 100% !important;
}
.vector-toc-element {
    font-size: 0.8rem;   
}
.vector-toc-contents {
    margin: 0;
    list-style: none;
    padding: 0;
}


ul.vector-toc-contents {
    margin: 0;
    list-style: none;
    padding: 0;
}


.vector-toc-list-item {
    position: relative;
    list-style-type: none;
    padding-left: 12px;
    margin: 0;    
}
.vector-toc-text {
    position: relative;
    padding: 6px 0;
    cursor: pointer;
}
.vector-toc-text:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.toc-collapse-button {
    display: grid;
    place-items: center;
    position: absolute;
    left: -19px;
    top: 50%;
    min-width: 15px;
    min-height: 15px;
    padding: 0;
    transform: translateY(-50%);

    background: none;
    border: 0;
}
.toc-collapse-button img {
    transition: transform 100ms;
}
.toc-collapse-button[aria-expanded="true"] img {
    transform: rotate(90deg);
}
.toc-collapse-button:hover{
    cursor: pointer;
    background-color: #2a2b2c;

}
.item-1 {
    font-size: 1em;
}
.item-2 {
    font-size: 1em;
}
.item-3 {
    font-size: 1em;
    font-family: skyrim;
    font-weight: 300;
}
.vector-toc {
    font-family: "skyrim";
}